<% provide(:title, 'Sign up') %>

<!DOCTYPE html>

<html>
    <head>
        <title><%= yield(:title) %> | Zen Blog App</title>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    
    <body>
        
      <h1> Welcome to the Zen Blog</h1>

      <h2> Sign up to join in the blogging fun!</h2>
      
    </body>
</html>